.btn {
  background-color: var(--color-primary);
  border-color: var(--color-accent);
  color: var(--color-primary-dark);
}

.btn:hover {
  background-color: var(--color-pink));
  border-color: var(--color-pink-dark);
  color: var(--color-accent);
}

.btn:focus {
  background-color: var(--color-pink));
  border-color: var(--color-pink-dark);
  color: var(--color-accent);
}

.btn-ghost {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-pink));
  border-color: var(--color-pink-dark);
  color: var(--color-accent);
}

.btn-light {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-accent);
}

.btn-light:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-pink-dark);
}
