.btn {
  background-color: var(--color-pink-dark);
  border-color: var(--color-pink);
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-pink-dark);
  color: var(--color-primary);
}

.btn:focus {
  background-color: var(--color-pink);
  border-color: var(--color-pink-dark);
  color: var(--color-primary);
}

.btn-ghost {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: transparent;
}

.btn-ghost:hover {
  background-color: var(--color-pink-light);
  border-color: var(--color-pink);
  color: var(--color-primary-dark);
}

.btn-light {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-dark);
}

.btn-light:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-pink);
}

.image-btn,
.image-btn:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent
}
