.navbar {
  overflow: hidden;
  background-color: var(--color-primary-dark);
}

.navbar a {
  color: #fff;
  transition: background-color, color .3s;
  display: inline-block;
}

.navbar a:hover {
  background-color: var(--color-pink);
    color: var(--color-primary-light);
  }

.navbar a:active {
  color: var(--color-pink)
}

input[type=search], select, textarea {
  width: 100%;
}

.search-button {
  color: var(--color-primary-dark);
  position: absolute;
  top:-.2em;
  right:-.5em;
  z-index: 1000;
}
