.card {
  background-color: #fff;
}

.negative {
  background-color: transparent;
}

.text-fill {
  background-color: var(--color-primary-light);
}

.milk-bg {
  background-image: linear-gradient(80deg, var(--color-tertiary-light), var(--color-another-blue));
  border-color: var(--color-tertiary);
}
