.card {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.card:hover {
  border-color: var(--color-grey-border);
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.negative {
  background-color: transparent;
}

.text-fill {
  background-color: var(--color-primary-light);
}

.simple-bg {
  background-image: var(--gradient-blue);
  border-color: var(--color-tertiary);
}

.milk-bg {
  background-image: var(--gradient-milk);
}

.honey-bg {
  background-image: var(--gradient-gold);
  border-color: var(--color-secondary);
}

.merch-bg {
  background-image: var(--gradient-black);
  border-color: #000;
}

.shadow {
  box-shadow: 10px 10px 8px var(--color-grey-border);
}
