.pagination a {
  color: var(--color-primary-dark);
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a:active {
  background-color: var(--color-pink);
  color: var(--color-pink-dark);
}
.pagination a:hover:not(.active) {
background-color: var(--color-grey-comfortable);
}

.bread-crubs {
  color: var(--color-primary-dark);
}

.container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

#milk:target {
  display: block;
}

.butts {
  display: inline;
}
