

.hero-text {
  color: var(--color-primary-dark);
  position: absolute;
  top: 10%;
  left: 2%;
}

.negative {
  background-color: transparent;
}

.text-fill {
  background-color: var(--color-primary-light);
}

.simple-bg {
  background-image: var(--gradient-blue);
  border-color: var(--color-tertiary);
}

.milk-bg {
  background-image: var(--gradient-milk);
}

.honey-bg {
  background-image: var(--gradient-gold);
  border-color: var(--color-secondary);
}

.merch-bg {
  background-image: var(--gradient-black);
  border-color: #000;
}

.holder {
  height: 30em;
  overflow: hidden;
}
